<h1 align="center">Swaroop's URL Shrinker</h1>

<%= form_with url: urls_path, model: @url do |form| %>
  <p align="center"><%= url_field(:url, :original) %></p>
  <p align="center"><%= form.submit "Shrink It!"%></p>
<% end %>
